doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title="SockIO PPT - The programmer's PPT!"
    include style.pug
  body
    .section
        h1 SockIO PPT,The programmer's PPT!
        p run "node generate demo pug 2" to generate two client side ppt url
        p run "node generate demo ctrl" to generate a server side ppt control url
        br
        a(href="https://github.com/hisune/sockio-ppt" style="margin-right: 3vw;") Github
        a(href="https://sockio.com/ppt?ctrl=d279530ed2537ecdea2d51e3") DEMO