doctype html
html(lang="en")
  head
    title="SockIO PPT"
    include style.pug
  body
    .section
        h1 SockIO PPT,The programmer's PPT!
        p run "node generate demo pug 2" to generate two client side ppt url
        p run "node generate demo ctrl" to generate a server side ppt control url