doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width")
    title="SockIO PPT - The programmer's PPT!"
    include style.pug
  body
    .section
        h1 SockIO PPT,The programmer's PPT!
        p run "node generate demo pug 2" to generate two client side ppt url
        p run "node generate demo ctrl" to generate a server side ppt control url
        br
        iframe(src="https://ghbtns.com/github-btn.html?user=hisune&repo=sockio-ppt&type=star&count=false&size=large" frameborder="0" scrolling="0" width="160px" height="30px")