script(type='text/javascript').
    var toggleFullScreen = function() {
      if ((document.fullScreenElement && document.fullScreenElement !== null) ||
       (!document.mozFullScreen && !document.webkitIsFullScreen)) {
        if (document.documentElement.requestFullScreen) {
          document.documentElement.requestFullScreen();
        } else if (document.documentElement.mozRequestFullScreen) {
          document.documentElement.mozRequestFullScreen();
        } else if (document.documentElement.webkitRequestFullScreen) {
          document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
        }
        $.fn.fullpage.reBuild();
      } else {
        if (document.cancelFullScreen) {
          document.cancelFullScreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        }
      }
    }
    // fullpage
    $(document).ready(function() {
        var name = '#{name}',
            key = '#{key}',
            length = $('#fullpage').find('.section').length,
            anchors = [],
            settings = {
                anchors: anchors,
                onLeave: function(index, nextIndex, direction){
                     $('#pages').text(nextIndex + '/'+length);
                     if(name == 'ctrl'){
                        roll(nextIndex);
                     }
                }
            };
        $('#pages').text('1/'+length);
        for(var i = 1; i <= length; i++)
            anchors.push('anchors-' + i);

        if(typeof options == 'undefined') options = {};
        $('#fullpage').fullpage($.extend(settings, options));

        // socket.io
        var socket = io(document.location.origin, {transports: ['websocket'], query: name + '=' + key}),
            roll = function(index){
                socket.emit('roll', {index: index}, function(){});
            },
            click = function(data){
                data = data || '';
                socket.emit('click', data, function(){});
            },
            doSlide = function(id){
                if(id){
                    $('#' + id).click();
                }else{
                    $('.section').filter(function() {
                        return $(this).hasClass('active');
                    }).children('.fp-tableCell').find('.hidden').filter(function() {
                        return $(this).css('opacity') == 0;
                    }).first().animate({opacity: 1}, 1000);
                }
            };

        if(name == 'pug'){
            socket.on('roll', function(data){
                $.fn.fullpage.moveTo('anchors-' + data.index);
            });
            socket.on('click', function(data){
                doSlide(data);
            });
        }else if(name == 'ctrl'){
            $('.section').click(function(){
                click();
                doSlide();
            });
        }
    });


