doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="/plugins/jquery.min.js")
    script(src="/plugins/jquery.easings.min.js")
    script(src="/plugins/scrolloverflow.min.js")
    script(src="/plugins/fullpage/jquery.fullpage.min.js")
    script(src="/plugins/socket.io-1.4.5.js")
    link(href="/plugins/fullpage/jquery.fullpage.min.css" type="text/css" rel="stylesheet")
    include style.pug
  body
    #fullpage
        |!{html}
    #right-bottom(onclick="toggleFullScreen();")
        #pages
    include js.pug