style.
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
    form,fieldset,input,textarea,p,blockquote,th,td {
        padding: 0;
        margin: 0;
    }
    body{
        font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    }
    a{
        text-decoration:none;
    }
    table {
        border-spacing: 0;
    }
    fieldset,img {
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var {
        font-weight: normal;
        font-style: normal;
    }
    strong{
        font-weight: bold;
    }
    ol,ul {
        list-style: none;
        margin:0;
        padding:0;
    }
    caption,th {
        text-align: left;

    }
    h1,h2,h3,h4,h5,h6,a,p {
        font-weight: normal;
        font-size: 100%;
        margin:0;
        padding:0;
        color:#444;
    }
    a{
        color:#888;
    }
    a:hover{
        text-decoration: underline;
    }
    q:before,q:after {
        content:'';
    }
    abbr,acronym {
        border: 0;
    }
    h1{
        font-size: 4vw;
        margin: 2vw 1vw;
    }
    h2{
        font-size: 2vw;
        margin: 1.25vw 0.5vw;
    }
    p{
        font-size: 1vw;
        margin: 0.75vw 0.25vw;
    }
    .vw4{
        font-size: 4vw;
    }
    .vw3{
        font-size: 3vw;
    }
    .vw2{
        font-size: 2vw;
    }
    .vw1{
        font-size: 1vw;
    }
    .section{
        text-align:center;
    }
    .hidden{
        opacity: 0;
    }
    #right-bottom{
        cursor: pointer;
        padding: 0.3vw 0.6vw;
        position: fixed;
        bottom: 0;
        right: 0;
        background: #000;
        color: #fff;
        opacity: 0.1;
        font-size: 2.2vw;
        border-radius: 0.3vw 0 0 0;
    }
    .center{
        margin: 0 auto;
        padding: 0 1em;
    }
    p.hidden{
        text-align: left;
    }
    .text-right{
        text-align: right;
        padding: 0 0.5vw;
    }
    .left{
        width: 50%;
        float: left;
    }
    .right{
        width: 50%;
        float: right;
    }
    pre{
        width: auto;
        display: inline-block;
    }
    pre code{
        text-align: left;
        font-size: 1.5vw;
    }
    .section img{
        max-width: 100%;
        max-height: 100%;
    }
    .center-table{
        display: table;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }